// COLORS

$color-black: #070201;
$color-white: #F4F4F4;

$color-primary: #3C485D;
$color-secondary: lighten( $color-primary, 10%);
$color-tertiary: darken( $color-primary, 10%);
$color-yellow: #F5D027;
$color-red: #DD3C3C; 
$color-blue: #13317B;


// FONT 

$default-font-size: 1.6rem;



